server:
  port: 8080
  servlet:
    context-path: /


spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:~/h2/SpringBootAdminLTE
    username: sa
    password: 
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
        jdbc:
          time_zone: UTC
    database: h2
    database-platform: H2
    open-in-view: true
  flyway:
    enabled: true
    check-location: true
    locations: classpath:/db/migration
  thymeleaf:
    # For debuging purpose, set cache to false.
    cache: false
    check-template: true
    check-template-location: true
    enabled: true
    encoding: UTF-8
    mode: HTML
    prefix: classpath:/templates/
    # prefix: file:src/main/resources/templates/
    # prefix: ${project.basedir}/src/main/resources/templates/
    suffix: .html
    # excluded-view-names:
    # template-resolver-order:
    # view-names:
    servlet:
      content-type: text/html
  devtools:
    livereload:
      enabled: true
    add-properties: true
  resources:
    static-locations: classpath:/static/
    # static-locations: file:src/main/resources/static/
    # static-locations: ${project.basedir}/src/main/resources/static/
    cache:
      period: 0
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
      enabled: true
      location: ${java.io.tmpdir}


logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n"
  file:
    name: logs/webapp.log
  level:
    org.springframework.web: WARN
    org.hibernate: ERROR
    com.example.springboot: INFO
    web: DEBUG
