<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <title>Customer Registration</title>
</head>
<body>

<section class="content-header" layout:fragment="ContentHeader">
  <div class="container-fluid">
	<div class="row mb-2">
	  <div class="col-sm-6">
		<h1>Customer Registration</h1>
	  </div>
	  <div class="col-sm-6">
		<ol class="breadcrumb float-sm-right">
		  <li class="breadcrumb-item"><a href="/customer">Home</a></li>
		  <li class="breadcrumb-item active">Customer Registration</li>
		</ol>
	  </div>
	</div>
  </div>
</section>

<div layout:fragment="ContentBody">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            
			<!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Form</h3>
				<div class="card-tools float-right">
					<a href="/customer" type="button" class="btn btn-group"><i class="fa fa-list-ul"></i></a>
				</div>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" data-toggle="validator" th:object="${customer}" th:action="@{/customer/save}" method="post">
			    <input type="hidden" id="id" th:field="*{id}"/>
                <div class="card-body">
                  <div class="form-group">
                    <label for="inputFirstname">Firstname</label>
                    <input type="text" class="form-control" id="firstname" th:field="*{firstname}" placeholder="Enter Firstname" required="true">
                  </div>
                  <div class="form-group">
                    <label for="inputLastname">Lastname</label>
                    <input type="text" class="form-control" id="lastname" th:field="*{lastname}" placeholder="Enter Lastname" required="true">
                  </div>
                  <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Enter email" required="true">
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Save</button>
				  <button type="button" class="btn btn-secondary" onClick="history.back();">Back</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
			
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
</div>

</body>
</html>
