<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <title>Customer</title>
</head>
<body>

<section class="content-header" layout:fragment="ContentHeader">
  <div class="container-fluid">
	<div class="row mb-2">
	  <div class="col-sm-6">
		<h1>Customer</h1>
	  </div>
	  <div class="col-sm-6">
		<ol class="breadcrumb float-sm-right">
		  <li class="breadcrumb-item"><a href="/customer">Home</a></li>
		  <li class="breadcrumb-item active">Customer</li>
		</ol>
	  </div>
	</div>
  </div>
</section>

<div layout:fragment="ContentBody">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Customer List</h3>
                <div class="card-tools float-right">
                    <a href="/customer/add" type="button" class="btn btn-group"><i class="fa fa-plus"></i></a>
                    <br clear="all" />
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Registration Date</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="row : ${list}">
                        <td th:text="${row.id}"></td>
                        <td th:text="${row.firstname + ' ' + row.lastname}"></td>
                        <td th:text="${row.email}"></td>
                        <td th:text="${#dates.format(row.addedDate, 'yyyy-MM-dd')}"></td>
                        <td>
                            <a th:href="${'/customer/edit/' + row.id}">Edit</a> | <a th:href="${'/customer/delete/' + row.id}">Delete</a>
                        </td>
                    </tr>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
				<ul class="pagination pagination-sm m-0 float-right">
					<li class="page-item"><a class="page-link" href="/customer/1">First</a></li>
					<li th:class="${p == currentIndex} ? 'page-item active' : 'page-item'" th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}">
						<a class="page-link" th:href="${'/customer/' + p}" th:text="${p}"></a>
					</li>
					<li class="page-item"><a class="page-link" th:href="${'/customer/' + endIndex}">Last</a></li>
				</ul>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
</div>

</body>
</html>
